* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  place-content: center;
  min-block-size: 100vh;
  font-family: system-ui, sans-serif;
  margin: 0;
}

.container {
  position: relative;
  inline-size: 100vw;
  block-size: 170px;

  & h1 {
    font-size: 125px;
    text-align: center;
    line-height: 1;
    position: absolute;
    line-height: normal;
    inset: 0;
  }
}

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out 1s;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
